// import Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

// color variables
$color--main: #f08365;
$color--shadow: #a66161;
$color--accent-1: #0f6848;
$color--accent-2: #006b2d;
$color--accent-3: #267b32;

// font variables
$ff--montserrat: "Montserrat", "DejaVu Sans", "Verdana", sans-serif;
$ff--gotham: "gotham-condensed-bold", "Open Sans", sans-serif;
$fw--regular: 400;
$fw--bold: 700;
$ft--italic: italic;
$fs__heading--top: clamp(
  1.625rem,
  1.4rem + 1.2vw,
  2rem
); // 300px-800px, 26-32px
$fs__heading--bottom: clamp(
  1.75rem,
  1.45rem + 1.6vw,
  2.25rem
); // 300px-800px, 28-36px
$fs__body: clamp(0.875rem, 0.8rem + 0.4vw, 1rem); //14-16px
// $txt-shadow: 4px 2px 4px rgba(166, 97, 97, 0.3);
$txt-shadow: 4px 2px 4px $color--shadow;
$txt-stroke--white: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
  -1px -1px 0 #fff;
$txt-stroke--main: -1px 1px 0 $color--main, 1px 1px 0 $color--main,
  1px -1px 0 $color--main, -1px -1px 0 $color--main;
$txt-stroke--accent: -1px 1px 0 $color--accent-2, 1px 1px 0 $color--accent-2,
  1px -1px 0 $color--accent-2, -1px -1px 0 $color--accent-2;

// utility variables
// images
$file-path: "./img/";
$img-format: ".png";

// padding
$padding--XS: 0.2rem;
$padding--S: 0.5rem;
$padding--M: 1rem;
$padding--L: 2rem;
$padding--XL: 3rem;
$padding--XXL: 6rem;

// typography mixins
@mixin body($fw, $case, $color) {
  font-family: $ff--montserrat;
  font-weight: $fw;
  font-size: $fs__body;
  text-transform: $case;
  color: $color;
}

@mixin heading($fs, $color) {
  font-family: $ff--montserrat;
  font-weight: $fw--bold;
  text-transform: uppercase;
  font-size: $fs;
  color: $color;
}

//layout mixins
@mixin flex($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin bg-cover($position) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: $position;
}

@mixin border($color) {
  border: 2px solid $color;
  border-radius: 8px;
  padding: $padding--L;
  padding-bottom: $padding--XXL;
}

// button mixins
@mixin btn--primary {
  background-color: $color--main;
  border-radius: 10px;
  padding: $padding--S;
  @include body($fw--bold, uppercase, white);
  text-decoration: none;
  margin: auto;
  width: 150px;
  margin-top: $padding--S;
  transition: .4s ease-in-out;
}

@mixin btn--primary--hover {
  outline: 2px solid $color--main;
  background-color: white;
  color: $color--main;
}

@mixin btn--secondary($color) {
  background-color: white;
  border-radius: 10px;
  outline: 2px solid $color;
  padding: $padding--M $padding--XL;
  text-decoration: none;
  color: $color;
  @include body($fw--bold, uppercase, $color);
  transition: .4s ease-in-out;
}

@mixin btn--secondary--hover($color) {
  background-color: $color;
  color: white;
}

// animations
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $color--shadow,
      0 0 40px $color--shadow;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px $color--shadow, 0 0 40px $color--shadow,
      0 0 50px $color--shadow;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $color--shadow,
      0 0 40px $color--shadow;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px $color--shadow, 0 0 40px $color--shadow,
      0 0 50px $color--shadow;
  }
}

/////////////////////////////////////////////////////////////
// main styles

#es-RC-container {
  font-family: $ff--montserrat;
  max-width: 1300px;
  margin: auto;
  //reset
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  // reset end
  .es-hero {
    min-height: 300px;
    position: relative;
    &__left {
      background-image: url("#{$file-path}bg-hero-L#{$img-format}");
      @include bg-cover(left bottom);
      @include flex(column, center);
      color: white;
      text-transform: uppercase;
      font-weight: $fw--bold;
      padding: $padding--M;
      &--logo {
        max-width: 200px;
        margin-inline: auto;
      }
      &--new {
        background-color: $color--accent-1;
        max-width: fit-content;
        padding: 0.2rem;
        transform: rotate(355deg) skew(-5deg, 0deg);
      }
      &--title {
        font-size: clamp(2.5rem, 2.3618rem + 0.6316vw, 2.875rem);
        min-width: 10ch;
        text-shadow: $txt-shadow;
      }
      &--subtitle {
        font-size: clamp(1.125rem, 1.0789rem + 0.2105vw, 1.25rem);
        text-shadow: $txt-shadow;
        text-align: center;
      }
    }
    &__right {
      background-image: url("#{$file-path}bg-hero-R#{$img-format}");
      @include bg-cover(right bottom);
      @include flex(column, flex-end);
      position: relative;
      min-height: 500px;
      &--headline {
        color: white;
        font-family: $ff--gotham;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        // font-size: clamp(1.5rem, 0.8553rem + 2.9474vw, 3.25rem);
        font-size: 36px;
        text-shadow: $txt-shadow;
        transform: rotate(355deg) skew(-5deg, 0deg);
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        animation: glow 2s ease-in-out infinite alternate;
      }
    }
    &__middle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: fit-content;
      position: absolute;
      bottom: 0;
      left: 0;
      &--badge {
        max-width: 80px;
        margin-left: 20px;
      }
      &--packshot {
        max-width: 270px;
        scale: 1;
        transition: all 200ms ease-in-out;
        &:hover {
          scale: 1.05;
        }
      }
    }
  }
  .es-benefits {
    padding: $padding--XL;
    text-align: center;
    &__header {
      position: relative;
      margin-bottom: $padding--XXL;
      &--container {
        @include border($color--main);
      }
      &--subtitle {
        @include heading($fs__body, $color--main);
        &--regular {
          text-transform: unset;
        }
      }
    }
    &__main {
      background-color: white;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -30%);

      &--title {
        @include heading($fs__heading--top, $color--main);
      }
      & span {
        display: block;
        @include heading($fs__heading--bottom, white);
        text-shadow: $txt-stroke--main;
      }
    }
    &__icon-wrapper {
      padding-block: $padding--XXL;
    }
    &__icon-single {
      padding: $padding--M $padding--XS;
      &--title {
        @include body($fw--bold, uppercase, $color--main);
        margin-top: $padding--L;
      }
      &--descr {
        @include body($fw--regular, unset, black);
      }
      img {
        scale: 1;
        transition: all 200ms ease-in-out;
        &:hover {
          scale: 1.05;
        }
      }
    }
  }
  .es-how {
    background-image: url("#{$file-path}bg-hair#{$img-format}");
    @include bg-cover(center);
    min-height: 400px;
    position: relative;
    &__wrapper {
      position: absolute;
      padding: $padding--L;
      max-width: 32ch;
      right: 2rem;
      bottom: 2rem;
      text-align: center;
    }
    &__title {
      @include heading($fs__heading--top, white);
      margin-bottom: $padding--M;
      & span {
        @include heading($fs__heading--bottom, #f09884);
        display: block;
        text-shadow: $txt-stroke--white;
      }
    }
    &__descr {
      @include body($fw--regular, unset, white);
    }
  }
  .es-use {
    padding-top: $padding--XXL;
    text-align: center;
    &__container {
      @include border($color--main);
      position: relative;
    }
    &__title {
      @include heading($fs__heading--top, $color--main);
      margin-top: -2em;
      margin-inline: auto;
      background-color: white;
      width: fit-content;
      & span {
        display: block;
        @include heading($fs__heading--bottom, white);
        text-shadow: $txt-stroke--main;
      }
    }
    &__wrapper {
      margin-top: -60px;
      backdrop-filter: opacity(100%);
    }
    &__single {
      padding: $padding--M;
      width: 28ch;
      margin-inline: auto;
      &--img {
        margin-bottom: $padding--S;

        scale: 1;
        transition: all 200ms ease-in-out;
        &:hover {
          scale: 1.05;
        }
      }
      &--step {
        @include body($fw--bold, uppercase, $color--main);
      }
    }
  }
  .es-video {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__videoCnt {
      width: 72%;
      margin: 0 auto;
      padding: 40px 0;
    }
    &__iframe {
      width: 100%;
      min-height: 450px;
      z-index: 1;
    }
  }
  .es-before-after {
    background-image: url("#{$file-path}bg-before-after#{$img-format}");
    @include bg-cover(center);
    @include flex(row, space-between);
    @include heading($fw--bold, white);
    font-size: $fs__body;
    padding: $padding--L;
    margin-block: $padding--XL;
    min-height: 300px;
  }
  .es-routine {
    text-align: center;
    // a {
    //   text-decoration: none;
    //   color: inherit;
    // }
    &__header {
      @include heading($fs__heading--top, white);
      background-image: url("#{$file-path}bg-routine#{$img-format}");
      padding: $padding--L;
      & span {
        display: block;
        @include heading($fs__heading--bottom, #dc7669);
        text-shadow: $txt-stroke--white;
      }
      &--S {
        color: $color--main;
        text-transform: uppercase;
        font-weight: $fw--bold;
      }
    }
    &__single {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;
      gap: $padding--M;
      margin-top: $padding--L;
      position: relative;
    }
    &__img {
      @include flex(column, center);
    }
    &__button {
      @include btn--primary;
      &:hover {
        @include btn--primary--hover;
      }
    }
    &__descr {
      max-width: 30ch;
    }
    &__arrow {
      visibility: hidden;
    }
    &__wrapper--border {
      margin-inline: $padding--XL;
      margin-top: -70px;
      margin-bottom: 160px;
      @include border($color--accent-2);
      padding-bottom: unset;
      position: relative;
      z-index: -1;
      height: 200px;
    }
    &__wrapper--content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 50%;
      width: 90%;
      padding-block: $padding--L;
      background-image: url("#{$file-path}recycle-symbol#{$img-format}");
      background-color: white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &__descr--wrapper {
      @include body($fw--bold, uppercase, $color--accent-2);
      font-size: smaller;
      margin-block: $padding--M;
    }
    &__header--wrapper {
      @include heading($fs__heading--top, $color--accent-2);

      & span {
        display: block;
        color: white;
        text-shadow: $txt-stroke--accent;
        font-size: $fs__heading--bottom;
      }
    }
  }
  .es-cross {
    padding: $padding--XL;
    text-align: center;
    &__header {
      @include heading($fs__heading--top, $color--main);
      margin-bottom: $padding--L;
      & span {
        font-size: $fs__heading--bottom;
        color: white;
        text-shadow: $txt-stroke--main;
      }
    }
    &__single {
      margin-bottom: $padding--XL;
    }
    &__img-container {
      overflow: hidden;
      max-width: 300px;
      margin: auto;
      img {
        scale: 1.0;
        transition: all 200ms ease-in;
        &:hover {
          scale: 1.05;
        }
      }
    }
    

    &__figcaption--1 {
      color: #f08365;
      & a {
        @include btn--secondary(#f08365);
        &:hover {
          @include btn--secondary--hover (#f08365);
        }
      }
    }
    &__figcaption--2 {
      color: #ff9231;
      & a {
        @include btn--secondary(#ff9231);
        &:hover {
          @include btn--secondary--hover (#ff9231);
        }
      }
    }
    &__figcaption--3 {
      color: #ffc317;
      & a {
        @include btn--secondary(#ffc317);
        &:hover {
          @include btn--secondary--hover (#ffc317);
        }
      }
    }

    &__title {
      font-size: $fs__heading--bottom;
      text-transform: uppercase;
      margin-top: $padding--S;
    }
    &__subtitle {
      @include body($fw--bold, uppercase, inherit);
      margin-bottom: $padding--M;
    }
    &__descr {
      color: black;
      margin-bottom: $padding--L;
    }
  }
  .es-disclaimer {
    text-align: center;
    font-size: x-small;
    padding-inline: $padding--L;
    margin-bottom: $padding--M;
  }
  .es-footer {
    background-color: $color--accent-3;
    text-align: center;
    padding: $padding--S;
  }
}
////////////////////////////////////////////////////////////////////////
// tablet styles
@media screen and (min-width: 601px) {
  #es-RC-container {
    .es-hero {
      @include flex(row, flex-end);
      &__left {
        flex-basis: 45%;
        &--subtitle {
          padding-right: 8rem;
        }
      }
      &__right {
        flex-basis: 55%;
        &--headline {
          top: unset;
          bottom: 3rem;
        }
      }
      &__middle {
        left: -130px;
        align-items: flex-end;
        &--badge {
          margin-right: 50px;
        }
      }
    }
    .es-benefits {
      &__main {
        transform: translate(-50%, -50%);
        &--title {
          width: 32ch;
        }
      }
      &__icon-wrapper {
        @include flex(row, center);
        padding: unset;
      }
      &__icon-single--title {
        height: 3.5rem;
      }
    }

    .es-how {
      &__wrapper {
        &::before {
          content: url("#{$file-path}arrow-left#{$img-format}");
          position: absolute;
          left: -125px;
          top: 93px;
        }
      }
    }
    .es-use {
      &__wrapper {
        @include flex(row, center);
      }
      &__single {
        width: 33%;
        padding: unset;
      }
    }
    .es-routine {
      &__bg {
        background-image: url("#{$file-path}bg-routine#{$img-format}");
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: $padding--L;
      }
      &__header {
        background-image: unset;
        padding: unset;
      }
      &__wrapper--flex {
        @include flex(row, center);
      }
      &__header--S {
        color: white;
      }

      &__arrow {
        visibility: visible;
        max-width: 30%;
        transform: rotate(90deg) scaleX(-1);
        &--1 {
          position: absolute;
          top: 100px;
          left: 0;
        }
        &--2 {
          position: absolute;
          top: 100px;
        }
        &--3 {
          transform: rotate(270deg);
          position: absolute;
          top: 100px;
          right: 0;
        }
      }
    }
    .es-cross {
      &__wrapper--flex {
        @include flex(row, center);
      }
      &__single {
        width: 30%;
        img {
          width: 100%;
        }
      }
      &__title {
        font-size: x-large;
      }
      &__subtitle {
        height: 3rem;
        font-size: small;
      }
    }
    .es-footer {
      img {
        max-width: 50%;
      }
    }
  }
}
