// import Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

// color variables
$color--main: #f08365;
$color--shadow: #a66161;
$color--accent-1: #0f6848;
$color--accent-2: #006b2d;
$color--accent-3: #267b32;

// font variables
$ff--montserrat: "Montserrat", "DejaVu Sans", "Verdana", sans-serif;
$ff--gotham: "gotham-condensed-bold", "Open Sans", sans-serif;
$fw--regular: 400;
$fw--bold: 700;
$ft--italic: italic;
$fs__heading--top: clamp(
  1.625rem,
  1.4rem + 1.2vw,
  2rem
); // 300px-800px, 26-32px
$fs__heading--bottom: clamp(
  1.75rem,
  1.45rem + 1.6vw,
  2.25rem
); // 300px-800px, 28-36px
$fs__body: clamp(0.875rem, 0.8rem + 0.4vw, 1rem); //14-16px
// $txt-shadow: 4px 2px 4px rgba(166, 97, 97, 0.3);
$txt-shadow: 4px 2px 4px $color--shadow;
$txt-stroke--white: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
  -1px -1px 0 #fff;
$txt-stroke--main: -1px 1px 0 $color--main, 1px 1px 0 $color--main,
  1px -1px 0 $color--main, -1px -1px 0 $color--main;
$txt-stroke--accent: -1px 1px 0 $color--accent-2, 1px 1px 0 $color--accent-2,
  1px -1px 0 $color--accent-2, -1px -1px 0 $color--accent-2;

// utility variables
// images
$file-path: "./img/";
$img-format: ".png";

// padding
$padding--XS: 0.2rem;
$padding--S: 0.5rem;
$padding--M: 1rem;
$padding--L: 2rem;
$padding--XL: 3rem;
$padding--XXL: 6rem;

// typography mixins
@mixin body($fw, $case, $color) {
  font-family: $ff--montserrat;
  font-weight: $fw;
  font-size: $fs__body;
  text-transform: $case;
  color: $color;
}

@mixin heading($fs, $color) {
  font-family: $ff--montserrat;
  font-weight: $fw--bold;
  text-transform: uppercase;
  font-size: $fs;
  color: $color;
}

//layout mixins
@mixin flex($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin bg-cover($position) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: $position;
}

@mixin border($color) {
  border: 2px solid $color;
  border-radius: 8px;
  padding: $padding--L;
  padding-bottom: $padding--XXL;
}

// button mixins
@mixin btn--primary {
  background-color: $color--main;
  outline: 2px solid $color--main;
  border-radius: 10px;
  padding: $padding--S;
  @include body($fw--bold, uppercase, white);
  text-decoration: none;
  margin: auto;
  width: 150px;
  margin-top: $padding--S;
  transition: 0.4s ease-in-out;
}

@mixin btn--primary--hover {
  background-color: white;
  color: $color--main;
}

@mixin btn--secondary($color) {
  border-radius: 10px;
  outline: 2px solid $color;
  padding: $padding--M;
  text-decoration: none;
  color: $color;
  width: 300px;
  text-align: center;
  @include body($fw--bold, uppercase, $color);
  transition: 0.4s ease-in-out;
}

@mixin btn--secondary--hover($color) {
  background-color: $color;
  color: white;
}

// animations
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $color--shadow,
      0 0 40px $color--shadow;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px $color--shadow, 0 0 40px $color--shadow,
      0 0 50px $color--shadow;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $color--shadow,
      0 0 40px $color--shadow;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px $color--shadow, 0 0 40px $color--shadow,
      0 0 50px $color--shadow;
  }
}

/////////////////////////////////////////////////////////////
// main styles

#es-RC-container {
  font-family: $ff--montserrat;
  max-width: 999px;
  margin: auto;
  //reset
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  // reset end
  .es-hero {
    //min-height: 300px;
    position: relative;
    //background-image: url("#{$file-path}bg-juicy-pineapple#{$img-format}");
    //@include bg-cover(right bottom);
    @include flex(column-reverse, center);
    &__left {
      background-image: url("#{$file-path}bg-hero-desktop#{$img-format}");
      @include bg-cover(left);
      min-height: 300px;
      @include flex(column, flex-end);

      &--headline {
        color: white;
        font-family: $ff--gotham;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        line-height: 0.9;
        // font-size: clamp(1.5rem, 0.8553rem + 2.9474vw, 3.25rem);
        font-size: 36px;
        text-shadow: $txt-shadow;
        transform: rotate(355deg) skew(-5deg, 0deg);
        & span {
          animation: glow 2s ease-in-out infinite alternate;
        }
      }
      &--smaller {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 50px;
      }
    }

    &__right {
      background-image: url("#{$file-path}bg-R-juicy-pineapple#{$img-format}");
      @include bg-cover(right);
      @include flex(column, center);
      color: white;
      text-transform: uppercase;
      font-weight: $fw--bold;
      &--logo {
        max-width: 300px;
        margin-inline: auto;
        padding: $padding--M;
      }
      &--container {
        @include flex(column, center);
        margin-left: auto;
        position: relative;
        padding-left: $padding--XL;
        padding-bottom: $padding--S;
      }
      &--new {
        background-color: $color--accent-1;
        max-width: fit-content;
        padding: 0.2rem;
        transform: rotate(355deg) skew(-5deg, 0deg);
        font-family: $ff--gotham;
        position: absolute;
        top: 0px;
        left: 110px;
      }
      &--badge {
        max-width: 80px;
        position: absolute;
        z-index: 1;
        top: 84px;
        left: 8px;
      }
      &--packshot {
        max-width: 300px;
        scale: 1;
        transition: all 200ms ease-in-out;
        &:hover {
          scale: 1.05;
        }
      }
    }
  }
  .es-benefits {
    padding: $padding--XL;
    text-align: center;
    &__header {
      position: relative;
      margin-bottom: $padding--XXL;
      &--container {
        @include border($color--main);
      }
      &--subtitle {
        @include heading($fs__body, $color--main);
        max-width: 21ch;
        margin: auto;
        margin-bottom: $padding--XS;
        &--regular {
          text-transform: unset;
        }
      }
    }
    &__main {
      background-color: white;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -30%);

      &--title {
        @include heading($fs__heading--top, $color--main);
      }
      & span {
        display: block;
        @include heading($fs__heading--bottom, white);
        text-shadow: $txt-stroke--main;
      }
    }
    &__icon-wrapper {
      padding-top: $padding--XXL;
    }
    &__icon-single {
      padding: $padding--M $padding--XS;
      &--title {
        @include body($fw--bold, uppercase, $color--main);
        margin-top: $padding--L;
      }
      &--descr {
        @include body($fw--regular, unset, black);
      }
      img {
        scale: 1;
        transition: all 200ms ease-in-out;
        &:hover {
          scale: 1.05;
        }
      }
    }
  }
  .es-how {
    text-align: center;
    position: relative;

    &__title {
      background-image: url("#{$file-path}bg-hair-mask#{$img-format}");
      @include heading($fs__heading--top, white);
      padding: $padding--L;

      & span {
        @include heading($fs__heading--bottom, #c298b6);
        display: block;
        text-shadow: $txt-stroke--white;
      }
    }
    &__wrapper {
      @include flex(column, center);
      align-items: center;
      margin-top: $padding--M;
      gap: $padding--M;
    }
    &__item {
      max-width: 24ch;
      &--heading {
        @include body($fw--bold, uppercase, $color--main);
      }
      &--descr {
        @include body($fw--regular, unset, black);
      }
    }
  }
  .es-ingredients {
    padding: $padding--XXL $padding--XL;
    text-align: center;
    &__container {
      @include border($color--main);
      position: relative;
      padding-bottom: 0;
      &--inner {
        @include flex(column-reverse, center);
      }
    }
    &__title {
      @include heading($fs__heading--top, $color--main);
      margin-top: -2em;
      margin-inline: auto;
      background-color: white;
      width: fit-content;
      & span {
        display: block;
        @include heading($fs__heading--bottom, white);
        text-shadow: $txt-stroke--main;
      }
    }
    &__img {
      margin-bottom: -$padding--XXL;
    }
    &__single {
      margin-block: $padding--M;
      &--title {
        @include body($fw--bold, uppercase, $color--main);
      }
    }
  }
  .es-video {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    &__title {
      @include heading($fs__heading--top, $color--main);
      margin-inline: auto;
      margin-top: $padding--L;
      text-align: center;
      width: fit-content;
      & span {
        display: block;
        @include heading($fs__heading--bottom, white);
        text-shadow: $txt-stroke--main;
      }
    }
    &__border {
      @include border($color--main);
      //height: 100px;
      width: 90%;
      position: absolute;
      margin-top: $padding--L;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    &__videoCnt {
      width: 72%;
      margin: 0 auto;
      padding: 40px 0;
      
    }
    &__iframe {
      width: 100%;
      min-height: 450px;
      z-index: 1;
    }
  }
  
  .es-routine {
    text-align: center;
    
    &__header {
      @include heading($fs__heading--top, white);
      background-image: url("#{$file-path}bg-routine#{$img-format}");
      padding: $padding--L;
      & span {
        display: block;
        @include heading($fs__heading--bottom, #dc7669);
        text-shadow: $txt-stroke--white;
      }
      &--S {
        color: $color--main;
        text-transform: uppercase;
        font-weight: $fw--bold;
      }
    }
    &__single {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;
      gap: $padding--M;
      margin-top: $padding--L;
      position: relative;
      
      &:hover {
        img {
          scale: 1.05;
          transition: 200ms ease-in;
        }
        a {
          @include btn--primary--hover;
        }
      }
    }
    &__img {
      @include flex(column, center);
      scale: 1.0;
      
    }
    &__button {
      @include btn--primary;
      margin-bottom: $padding--L;
      &:hover {
        @include btn--primary--hover;
      }
    }
    &__descr {
      max-width: 30ch;
    }
    &__arrow {
      visibility: hidden;
    }
    &__wrapper--border {
      margin-inline: $padding--XL;
      margin-top: -130px;
      margin-bottom: 160px;
      @include border($color--accent-2);
      padding-bottom: unset;
      position: relative;
      z-index: -1;
      height: 200px;
    }
    &__wrapper--content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 50%;
      width: 90%;
      padding-block: $padding--L;
      background-image: url("#{$file-path}recycle-symbol#{$img-format}");
      background-color: white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &__descr--wrapper {
      @include body($fw--bold, uppercase, $color--accent-2);
      font-size: smaller;
      margin-block: $padding--M;
    }
    &__header--wrapper {
      @include heading($fs__heading--top, $color--accent-2);

      & span {
        display: block;
        color: white;
        text-shadow: $txt-stroke--accent;
        font-size: $fs__heading--bottom;
      }
    }
  }
  .es-cross {
    padding: $padding--XL;
    text-align: center;
    &__header {
      @include heading($fs__heading--top, $color--main);
      margin-bottom: $padding--L;
      & span {
        font-size: $fs__heading--bottom;
        display: block;
        color: white;
        text-shadow: $txt-stroke--main;
      }
    }
    &__single {
      margin-bottom: $padding--XL;
      position: relative;
      &:hover {
        img {
          scale: 1.05;
          transition: 200ms ease-in;
        }
        .es-cross__figcaption--1 a {
          @include btn--secondary--hover(#561312);
        }
        .es-cross__figcaption--2 a {
          @include btn--secondary--hover(#ffc317);
        }
        .es-cross__figcaption--3 a {
          @include btn--secondary--hover(#e6772a);
        }
      }
    }
    &__img-container {
      overflow: hidden;
      max-width: 300px;
      margin: 0 auto $padding--L auto;
      img {
        scale: 1;
      }
    }
    &__figcaption--inside {
      position: absolute;
      width: 200px;
      top: $padding--L;
      left: 50%;
    transform: translate(-50%, 0);
    }
    &__figcaption--1 {
      color: #561312;
      & a {
        @include btn--secondary(#561312);
      }
    }
    &__figcaption--2 {
      color: #c24e2d;
      & a {
        @include btn--secondary(#ffc317);
      }
    }
    &__figcaption--3 {
      color: white;
      & a {
        @include btn--secondary(#e6772a);
      }
    }

    &__title {
      font-size: $fs__heading--bottom;
      text-transform: uppercase;
      margin-top: $padding--S;
    }
    &__subtitle {
      @include body($fw--bold, uppercase, inherit);
      margin-bottom: $padding--M;
    }
    
  }
  .es-disclaimer {
    text-align: center;
    font-size: x-small;
    padding-inline: $padding--L;
    margin-bottom: $padding--M;
  }
  .es-footer {
    background-color: $color--accent-3;
    text-align: center;
    padding: $padding--S;
  }
}
////////////////////////////////////////////////////////////////////////
// tablet styles
@media screen and (min-width: 601px) {
  #es-RC-container {
    .es-hero {
      @include flex(row, space-evenly);
      @include bg-cover(center);
      background-image: url("#{$file-path}bg-hero-desktop#{$img-format}");
      &__left {
        background-image: none;
      }

      &__right {
        background-image: none;
        &--headline {
          top: unset;
          bottom: 3rem;
        }
      }
      &__middle {
        left: -130px;
        align-items: flex-end;
        &--badge {
          margin-right: 50px;
        }
      }
    }
    .es-benefits {
      &__main {
        transform: translate(-50%, -50%);
        &--title {
          width: 32ch;
        }
      }
      &__header--subtitle {
        max-width: unset;
      }
      &__icon-wrapper {
        @include flex(row, center);
        padding: unset;
      }
      &__icon-single {
        flex-basis: 25%;
        padding: unset;
      }
      &__icon-single--title {
        height: 4rem;
        font-size: 14px;
      }
      &__icon-single--descr {
        font-size: 12px;
      }
    }

    .es-ingredients {
      &__container--inner {
        @include flex(row, space-around);
        margin-top: $padding--L;
        figcaption {
          @include flex(column, center);
          padding: $padding--M;
          position: relative;
        }
        &::after {
          content: url("#{$file-path}arrow-black#{$img-format}");
          display: block;
          position: absolute;
          scale: 0.6;
          transform: scaleX(-1);
          bottom: -120px;
          right: 25%;
        }
      }
      &__img {
        width: 60%;
        max-width: 450px;
        height: auto;
      }
      &__single:nth-of-type(1)::before {
        content: url("#{$file-path}arrow-black#{$img-format}");
        display: block;
        position: absolute;
        scale: 0.7;
        left: -55%;
      }
    }
    
    
    .es-footer {
      img {
        max-width: 50%;
      }
    }
  }
}

@media screen and (min-width: 680px) {
  #es-RC-container {
.es-routine {
      &__bg {
        background-image: url("#{$file-path}bg-routine#{$img-format}");
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: $padding--L;
      }
      &__header {
        background-image: unset;
        padding: unset;
      }
      &__wrapper--flex {
        @include flex(row, center);
      }
      &__single {
        flex-basis: 23%;
      }
      &__header--S {
        color: white;
      }

      &__arrow {
        visibility: visible;
        max-width: 40%;
        position: absolute;
        transform: rotate(270deg);
        &--1 {
          top: 100px;
          left: 0;
        }
        &--2 {
          top: 190px;
          transform: scaleX(-1);
          rotate: 90deg;
        }
        &--3 {
          top: 100px;
          left: -10px;
        }
        &--4 {
          transform: scaleX(-1);
          rotate: 90deg;
          max-width: 35%;
          top: 90px;
          right: 20px;
        }
      }
      &__wrapper-border {
        margin-top: -100px;
      }
    }
  }
  .es-cross {
      &__wrapper--flex {
        @include flex(row, center);
      }
      &__single {
        width: 30%;
        img {
          width: 100%;
        }
      }
      
    }
}

@media screen and (min-width: 730px) {
  #es-RC-container {
    .es-how {
      background-image: url("#{$file-path}bg-hair-mask#{$img-format}");
      @include bg-cover(center);
      position: relative;
      min-height: 400px;
      max-height: 500px;
      &__title {
        background-image: none;
        position: absolute;
      }

      &__item {
        position: absolute;
        &--1 {
          top: 50%;
          left: 3%;
          &:after {
            content: url("#{$file-path}arrow-white#{$img-format}");
            display: block;
            scale: 0.7;
            rotate: 184deg;
            position: absolute;
            right: -5%;
            bottom: -65%;
          }
        }
        &--2 {
          top: 15%;
          right: 3%;
          &:before {
            content: url("#{$file-path}arrow-white#{$img-format}");
            display: block;
            scale: 0.8;
            rotate: -15deg;
            position: absolute;
            left: -30%;
            top: -30%;
          }
        }

        &--3 {
          bottom: 15%;
          right: 3%;
          &:before {
            content: url("#{$file-path}arrow-white#{$img-format}");
            display: block;
            scale: 0.6;
            rotate: 177deg;
            transform: scaleX(-1);
            position: absolute;
            left: -30%;
            top: 5%;
          }
        }
        &--heading {
          color: white;
        }
      }
    }
    
  }
}

